<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.xiaz.ragagent.Mapper.SessionMapper">

    <!-- 批量插入会话 -->
    <insert id="insertBatch">
        INSERT INTO session (
        id,
        user_id,
        status,
        session_title,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.status},
            #{item.sessionTitle},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
    </insert>

</mapper>